<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="/">Library</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Book</a
      >
    </li>
    &nbsp;&nbsp;&nbsp;
    <li>
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
  </ul>
</mat-toolbar> -->
<nav class="navbar navbar-dark bg-primary">
  <ul class="nav">
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/" style="margin-top: 1px">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/SteveLambert-Library-Book-Cart.svg/511px-SteveLambert-Library-Book-Cart.svg.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
          style="margin-top: 0.5px"
        />
        Library
      </a>
    </li>
  </ul>

  <ul class="nav justify-content-center" style="margin-top: 1px">
    <li class="nav-item">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Book..." />
        <div class="input-group-append">
          <button class="btn btn-success" type="submit">Search</button>
        </div>
      </div>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/create" style="margin-top: 1px"
        >New Book</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" style="margin-top: 1px">LOGIN</a>
    </li>
  </ul>
</nav>
